html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
}
